USE [master]
GO
/****** Object:  Database [cs6232-g1]    Script Date: 4/7/2024 9:53:53 PM ******/
CREATE DATABASE [cs6232-g1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cs6232-g1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cs6232-g1]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Sex] [char](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [varchar](13) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](13) NOT NULL,
	[Zip] [varchar](10) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furniture]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furniture](
	[FurnitureID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[QuantityOwned] [int] NOT NULL,
	[QuantityRented] [int] NOT NULL,
	[DailyRentalRate] [money] NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Style] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Furnature] PRIMARY KEY CLUSTERED 
(
	[FurnitureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Sex] [char](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [varchar](13) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](13) NOT NULL,
	[Zip] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalLineItems]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalLineItems](
	[RentalID] [int] NOT NULL,
	[FurnitureID] [int] NOT NULL,
	[QuantityRented] [int] NOT NULL,
	[QuantityReturned] [int] NOT NULL,
	[Cost] [money] NOT NULL,
 CONSTRAINT [PK_RentalLineItems] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC,
	[FurnitureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransactions]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransactions](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[DateRented] [datetime] NOT NULL,
	[DateDue] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
 CONSTRAINT [PK_RentalTransactions] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnLineItems]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnLineItems](
	[ReturnID] [int] NOT NULL,
	[RentalID] [int] NOT NULL,
	[FurnitureID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Fine] [money] NOT NULL,
	[Refund] [money] NOT NULL,
 CONSTRAINT [PK_ReturnLineItems] PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC,
	[RentalID] ASC,
	[FurnitureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnTransactions]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTransactions](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[DateReturned] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
 CONSTRAINT [PK_ReturnTransactions] PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Styles]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Styles](
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Styles] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Name]) VALUES (N'Bed')
INSERT [dbo].[Categories] ([Name]) VALUES (N'Chair')
INSERT [dbo].[Categories] ([Name]) VALUES (N'Night Stand')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Sex], [DateOfBirth], [Phone], [Address], [City], [State], [Zip], [UserName], [Password], [IsAdmin]) VALUES (1, N'Jane', N'Doe', N'F', CAST(N'2024-03-02' AS Date), N'404-555-1212', N'123 nowhere dr', N'Atlanta', N'Georgia', N'30303', N'jane', N'DA0BEB81A7A05A5D15F6FB770CE1C17E5658C4C361115E8F0827DED238F429CF12205D3F214B8DD3B469602569BEC55AD5FC2C5A9460B9226EC5673FF00AD325', 1)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Sex], [DateOfBirth], [Phone], [Address], [City], [State], [Zip], [UserName], [Password], [IsAdmin]) VALUES (2, N'John', N'Doe', N'M', CAST(N'2024-03-01' AS Date), N'404-555-1213', N'123 somewhere dr', N'Atlanta', N'Georgia', N'30303', N'john', N'DA0BEB81A7A05A5D15F6FB770CE1C17E5658C4C361115E8F0827DED238F429CF12205D3F214B8DD3B469602569BEC55AD5FC2C5A9460B9226EC5673FF00AD325', 0)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Sex], [DateOfBirth], [Phone], [Address], [City], [State], [Zip], [UserName], [Password], [IsAdmin]) VALUES (3, N'Rob', N'Roberts', N'M', CAST(N'2024-03-03' AS Date), N'404-555-1214', N'123 everywhere dr', N'Atlanta', N'Georgia', N'30303', N'rob', N'DA0BEB81A7A05A5D15F6FB770CE1C17E5658C4C361115E8F0827DED238F429CF12205D3F214B8DD3B469602569BEC55AD5FC2C5A9460B9226EC5673FF00AD325', 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Furniture] ON 

INSERT [dbo].[Furniture] ([FurnitureID], [Name], [Description], [QuantityOwned], [QuantityRented], [DailyRentalRate], [Category], [Style]) VALUES (1, N'Blue Modern Chair', N'Blue Modern Chair', 30, 14, 0.2500, N'Chair', N'Modern')
INSERT [dbo].[Furniture] ([FurnitureID], [Name], [Description], [QuantityOwned], [QuantityRented], [DailyRentalRate], [Category], [Style]) VALUES (2, N'Red Modern Chair', N'Red Modern Chair', 30, 8, 0.2500, N'Chair', N'Modern')
INSERT [dbo].[Furniture] ([FurnitureID], [Name], [Description], [QuantityOwned], [QuantityRented], [DailyRentalRate], [Category], [Style]) VALUES (3, N'Green Victorian Chair', N'Green Victorian Chair', 30, 0, 0.2500, N'Chair', N'Victorian')
SET IDENTITY_INSERT [dbo].[Furniture] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Sex], [DateOfBirth], [Phone], [Address], [City], [State], [Zip]) VALUES (1, N'John', N'Doe', N'M', CAST(N'2004-02-22' AS Date), N'404555-1212', N'123 random road', N'Kennesaw', N'Georgia', N'30144')
INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Sex], [DateOfBirth], [Phone], [Address], [City], [State], [Zip]) VALUES (2, N'Tom', N'Smith', N'M', CAST(N'1994-09-12' AS Date), N'4705551212', N'19412 Quantom Loop', N'Tampa', N'Florida', N'33609')
INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Sex], [DateOfBirth], [Phone], [Address], [City], [State], [Zip]) VALUES (3, N'Jack', N'Box', N'M', CAST(N'1999-06-11' AS Date), N'6785551212', N'123 validation lane', N'Atlanta', N'Georgia', N'30303')
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
INSERT [dbo].[RentalLineItems] ([RentalID], [FurnitureID], [QuantityRented], [QuantityReturned], [Cost]) VALUES (7, 1, 6, 0, 0.2500)
INSERT [dbo].[RentalLineItems] ([RentalID], [FurnitureID], [QuantityRented], [QuantityReturned], [Cost]) VALUES (7, 6, 1, 0, 2.0000)
INSERT [dbo].[RentalLineItems] ([RentalID], [FurnitureID], [QuantityRented], [QuantityReturned], [Cost]) VALUES (8, 12, 1, 0, 2.0000)
GO
SET IDENTITY_INSERT [dbo].[RentalTransactions] ON 

INSERT [dbo].[RentalTransactions] ([RentalID], [DateRented], [DateDue], [EmployeeID], [MemberID]) VALUES (7, CAST(N'2024-04-06T22:32:10.983' AS DateTime), CAST(N'2024-04-07T22:32:05.337' AS DateTime), 2, 1)
INSERT [dbo].[RentalTransactions] ([RentalID], [DateRented], [DateDue], [EmployeeID], [MemberID]) VALUES (8, CAST(N'2024-04-06T22:33:33.137' AS DateTime), CAST(N'2024-04-07T22:33:30.723' AS DateTime), 2, 2)
INSERT [dbo].[RentalTransactions] ([RentalID], [DateRented], [DateDue], [EmployeeID], [MemberID]) VALUES (9, CAST(N'2024-04-06T22:34:18.247' AS DateTime), CAST(N'2024-04-07T22:34:16.157' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[RentalTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnTransactions] ON 

INSERT [dbo].[ReturnTransactions] ([ReturnID], [DateReturned], [EmployeeID], [MemberID]) VALUES (1, CAST(N'2024-03-21T00:30:45.627' AS DateTime), 1, 1)
INSERT [dbo].[ReturnTransactions] ([ReturnID], [DateReturned], [EmployeeID], [MemberID]) VALUES (2, CAST(N'2024-03-21T00:30:45.627' AS DateTime), 1, 1)
INSERT [dbo].[ReturnTransactions] ([ReturnID], [DateReturned], [EmployeeID], [MemberID]) VALUES (3, CAST(N'2024-03-21T00:30:45.627' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[ReturnTransactions] OFF
GO
INSERT [dbo].[Styles] ([Name]) VALUES (N'Contemporary')
INSERT [dbo].[Styles] ([Name]) VALUES (N'Mission')
INSERT [dbo].[Styles] ([Name]) VALUES (N'Modern')
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_Categories] FOREIGN KEY([Category])
REFERENCES [dbo].[Categories] ([Name])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_Categories]
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_Styles] FOREIGN KEY([Style])
REFERENCES [dbo].[Styles] ([Name])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_Styles]
GO
ALTER TABLE [dbo].[RentalLineItems]  WITH CHECK ADD  CONSTRAINT [FK_RentalLineItems_Furnature] FOREIGN KEY([FurnitureID])
REFERENCES [dbo].[Furniture] ([FurnitureID])
GO
ALTER TABLE [dbo].[RentalLineItems] CHECK CONSTRAINT [FK_RentalLineItems_Furnature]
GO
ALTER TABLE [dbo].[RentalLineItems]  WITH CHECK ADD  CONSTRAINT [FK_RentalLineItems_RentalTransactions] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RentalTransactions] ([RentalID])
GO
ALTER TABLE [dbo].[RentalLineItems] CHECK CONSTRAINT [FK_RentalLineItems_RentalTransactions]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransactions_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_RentalTransactions_Employees]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransactions_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_RentalTransactions_Members]
GO
ALTER TABLE [dbo].[ReturnLineItems]  WITH CHECK ADD  CONSTRAINT [FK_ReturnLineItems_RentalLineItems] FOREIGN KEY([RentalID], [FurnitureID])
REFERENCES [dbo].[RentalLineItems] ([RentalID], [FurnitureID])
GO
ALTER TABLE [dbo].[ReturnLineItems] CHECK CONSTRAINT [FK_ReturnLineItems_RentalLineItems]
GO
ALTER TABLE [dbo].[ReturnLineItems]  WITH CHECK ADD  CONSTRAINT [FK_ReturnLineItems_ReturnTransactions] FOREIGN KEY([ReturnID])
REFERENCES [dbo].[ReturnTransactions] ([ReturnID])
GO
ALTER TABLE [dbo].[ReturnLineItems] CHECK CONSTRAINT [FK_ReturnLineItems_ReturnTransactions]
GO
ALTER TABLE [dbo].[ReturnTransactions]  WITH CHECK ADD  CONSTRAINT [FK_ReturnTransactions_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[ReturnTransactions] CHECK CONSTRAINT [FK_ReturnTransactions_Employees]
GO
ALTER TABLE [dbo].[ReturnTransactions]  WITH CHECK ADD  CONSTRAINT [FK_ReturnTransactions_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[ReturnTransactions] CHECK CONSTRAINT [FK_ReturnTransactions_Members]
GO
/****** Object:  StoredProcedure [dbo].[getMostPopularFurnitureDuringDates]    Script Date: 4/7/2024 9:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getMostPopularFurnitureDuringDates]
	-- Add the parameters for the stored procedure here
	(@startDate Date, @endDate Date)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select
        f.FurnitureId,
        c.Name as 'Category',
        f.Name,
        count(distinct ren.RentalId) as QualifiedRentals,
        count(distinct all_rentals.RentalId) as 'All Rentals',
        concat(format(count(distinct ren.RentalId) * 1.0 / count(distinct all_rentals.RentalId) * 100.0, '0.00'), '%') as 'Transaction Ratio',
        concat(format(count(certain_members.MemberId) * 1.0 / count(all_members.MemberId) * 100.0, '0.00'), '%') as '% within 18 to 29',
        concat(format(100.0 - (count(certain_members.MemberId) * 1.0 / count(all_members.MemberId) * 100.0), '0.00'), '%') '% outside 18 to 29'
	from
        RentalTransactions ren 
        join RentalLineItems ren_li 
                on ren.RentalId = ren_li.RentalId
        join Furniture f 
                on f.FurnitureId = ren_li.FurnitureId
        join Categories c
                on c.Name = f.Category
        join Members all_members 
                on all_members.MemberId = ren.MemberId
        left join Members certain_members 
                on certain_members.MemberId = ren.MemberId
                and datediff(year, certain_members.DateOfBirth, ren.DateRented) between 18 and 29 
        left join RentalTransactions all_rentals
                on all_rentals.DateRented between @startDate and @endDate
	where
        ren.DateRented between @startDate and @endDate
	group by f.FurnitureId, c.Name, f.Name
	having count(distinct ren.RentalId) > 1
	order by QualifiedRentals desc, f.FurnitureId desc;

END
GO
USE [master]
GO
